.container{
    margin-top: 20px;
}
.wrapper{
    box-shadow: 1px 1px 10px 0px #e4e4e4;
    padding: 10px;
}
ul{
    margin: 0;
    padding: 0;
    display: inline-block;
    box-shadow: 1px -2px 10px 0px #e4e4e4;
    border-bottom: none;
}
ul li{
    display: inline-block;
    text-decoration: none;
    margin: 0px 0px 8px 0px;
}

ul li a{
    text-decoration: none;
    padding: 10px;
    background-color: #0e7590;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px #676666;
    
}

.active-link{
    background-color: #FFFFFF !important;
    padding-bottom: 20px !important;
    color: #000000 !important;
    text-shadow: none !important;
}
