<div class="container">
  <div class="row">
    <div class="col-sm">
      <header>
        <ul>
          <li><a routerLink="user-details" routerLinkActive="active-link">Angular POC1</a></li>
          <li><a routerLink="well-list" routerLinkActive="active-link">Angular POC2</a></li>
          <li><a routerLink="drag-drop" routerLinkActive="active-link">Angular POC3</a></li>
        </ul>
      </header>
      <div class="wrapper">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>